whatsapp.json
{
  "name": "whatsapp",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -112
      ],
      "id": "6a4979a0-bdd3-4cd3-9597-91e2eab41328",
      "name": "WhatsApp Trigger",
      "webhookId": "b8da7ddc-ed52-46fc-84b3-73986d16c0fb",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "QDSfmaQvLwSK0PR8",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "m.shaheer7u@gmail.com",
          "mode": "list",
          "cachedResultName": "m.shaheer7u@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        928,
        320
      ],
      "id": "8369425a-9d48-4e2f-aef6-948963381ebb",
      "name": "Calendar Read",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0NZxAfDISdmBVz2b",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "m.shaheer7u@gmail.com",
          "mode": "list",
          "cachedResultName": "m.shaheer7u@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', 'date and time for when the event should start') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end', 'date and time for when the event should end') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', 'title of the event') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1056,
        320
      ],
      "id": "6e1dad23-81ce-427b-92e2-914379149b1e",
      "name": "Calendar Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0NZxAfDISdmBVz2b",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "m.shaheer7u@gmail.com",
          "mode": "list",
          "cachedResultName": "m.shaheer7u@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', 'the id of the event') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1184,
        320
      ],
      "id": "519de1bf-38a0-4311-8c18-7068cbf24e78",
      "name": "Calendar Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0NZxAfDISdmBVz2b",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "id": "7d9c5fcf-5535-4ea9-9904-1c27ed4aff14",
      "name": "WhatsApp Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df3c3f26-71fc-4b1a-8bef-6a3faddbaf4d",
      "name": "Prepare WhatsApp Session",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bde719a0-aa48-4ca0-8ad9-6203f248b9a4",
      "name": "WhatsApp Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        320
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GfUyjQiugp187evk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6bac9865-6837-4d33-a6bf-79b1d7c239bb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "11fb465b-f366-462f-8404-c61e79475eb6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "69af846f-8761-4238-a590-0c04913fc17f",
      "name": "WhatsApp Message Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        -128
      ]
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "id": "9146dd2e-25cc-4623-bc98-1e8343508d93",
      "name": "Download Media",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        0,
        -272
      ],
      "webhookId": "a4a64d95-0f8c-40ef-bee7-e860e044ed0c",
      "credentials": {
        "whatsAppApi": {
          "id": "VYrTWJUXEgtMeRg2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "options": {}
      },
      "id": "62fa4332-085b-4184-8eee-c16a8f8354f9",
      "name": "Transcribe Recording",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        -272
      ],
      "credentials": {
        "openAiApi": {
          "id": "JzeZS55ysHp9nNc7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $(\"WhatsApp Trigger\").item.json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f29ba254-0fbb-42c2-84eb-d4584cdb3240",
      "name": "Prepare Voice Session",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.chatInput }}",
        "options": {
          "systemMessage": "=**Role:** You are the \"Smilecare Dental Assistant,\" a professional and friendly receptionist for a dental clinic.\n\n**Objective:** Help patients book, reschedule, or cancel appointments, and answer questions about dental services (Checkups, Scaling, Fillings, Extractions, and Whitening).\n\n**Operational Rules:**\n1. **Consult Supabase First:** Before booking, check if the user is an existing patient by searching the \"appointments\" table in Supabase using their phone number or email.\n2. **Check Availability:** Use the Google Calendar tool to find open slots before suggesting a time. Do not double-book.\n3. **Data Collection:** To book an appointment, you MUST collect:\n   - Full Name\n   - Email\n   - Phone Number\n   - Service Type (Checkup, Scaling, Filling, Extraction, Whitening)\n   - Preferred Date/Time\n4. **Action Sequence:**\n   - Step A: Verify availability via Google Calendar.\n   - Step B: Create the event in Google Calendar.\n   - Step C: Insert or Update the appointment record in the \"appointments\" table in Supabase.\n   - Step D: Send a confirmation email via Gmail.\n5. **Tone:** Keep responses concise, helpful, and polite. Use emojis occasionally (🦷, ✨).\n\n**Handling Supabase (Database):**\n- Table \"appointments\": Use this to store `name`, `phone`, `email`, `appointment_date`, `appointment_time`, `service_name`, `staff_member`, `booking_status`, `booking_id`, `price`, `duration_hours`.\n\n**Handling Voice/Media:**\nIf the input mentions a recording or media, acknowledge that you have processed the information (n8n handles the transcription before it reaches you).\n\n**Constraint:** Do not make up available times. Always check the calendar tool. If a slot is taken, suggest the next two available openings.\n\n**Current time (Pakistan timezone):** {{ $now }}"
        }
      },
      "id": "ead2deac-0206-40fe-b5b9-54089171f324",
      "name": "Smilecare Dental Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filterType": "none"
      },
      "id": "1538ba3d-2de2-421e-98d2-d66567038816",
      "name": "Supabase - Read Appointments",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1312,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EzSfODnxjmwVB6qO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "<__PLACEHOLDER_VALUE__appointments__>",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "appointment_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_date', 'the confirmed appointment date') }}"
            },
            {
              "fieldId": "appointment_time",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_time', 'the confirmed appointment time') }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', 'the full name of the user') }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', 'the phone number of the user') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'the email address that the user tells you') }}"
            },
            {
              "fieldId": "booking_status",
              "fieldValue": "Confirmed"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', 'unique booking identifier') }}"
            },
            {
              "fieldId": "service_name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service', 'the service type for the appointment') }}"
            },
            {
              "fieldId": "staff_member",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('staff', 'the staff member assigned') }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price', 'the price in USD for the service') }}"
            },
            {
              "fieldId": "duration_hours",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duration', 'duration in hours, default 1') }}"
            }
          ]
        }
      },
      "id": "7178ac58-eca2-4d51-bce6-0c7fce801ce8",
      "name": "Supabase - Create Appointment",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1440,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EzSfODnxjmwVB6qO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "<__PLACEHOLDER_VALUE__appointments__>",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'the email address of the user') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "appointment_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', 'the appointment date and time in Pakistan timezone') }}"
            },
            {
              "fieldId": "appointment_time",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_time', 'the confirmed appointment time') }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', 'the name of the user') }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', 'the phone number with country code, no + sign, no spaces') }}"
            },
            {
              "fieldId": "booking_status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', 'the status of the appointment: confirmed or cancelled') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', 'unique booking identifier') }}"
            },
            {
              "fieldId": "service_name",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service', 'the service type') }}"
            },
            {
              "fieldId": "staff_member",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('staff', 'assigned staff member') }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price', 'price in USD') }}"
            },
            {
              "fieldId": "duration_hours",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duration', 'duration in hours') }}"
            }
          ]
        }
      },
      "id": "81f979b0-f91d-4c0f-b6c7-66007452e9fe",
      "name": "Supabase - Update Appointment",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1568,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "EzSfODnxjmwVB6qO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'the email address of the user') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subject', 'the email subject line: [New Booking] + Booking date and time in user timezone') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('body', 'the email body confirming the booking with date, time, name, service, staff, price, and booking ID') }}",
        "options": {}
      },
      "id": "649cf9b7-1393-476f-87c3-b6fa521e5211",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1696,
        320
      ],
      "webhookId": "b3e2c50d-d782-490d-93cb-4149ab060bf8",
      "credentials": {
        "gmailOAuth2": {
          "id": "jDiEQD43BMc6smcS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "m.shaheer7u@gmail.com",
          "mode": "list",
          "cachedResultName": "m.shaheer7u@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('event_id', 'the ID of the event to update') }}",
        "updateFields": {}
      },
      "id": "10df2981-985c-479e-bfbd-505601d0a96a",
      "name": "Calendar Update",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1824,
        320
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0NZxAfDISdmBVz2b",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1081331635057238",
        "recipientPhoneNumber": "={{ $('WhatsApp Message Type Router').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1808,
        -160
      ],
      "id": "3d042a10-151d-4393-b1f3-ecb2688f041b",
      "name": "Send message",
      "webhookId": "eea42a58-6a2b-41f1-b767-53b04427330b",
      "credentials": {
        "whatsAppApi": {
          "id": "VYrTWJUXEgtMeRg2",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp Message Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Read": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Create": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Delete": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Memory": {
      "ai_memory": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Session": {
      "main": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Message Type Router": {
      "main": [
        [
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare WhatsApp Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "Transcribe Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Recording": {
      "main": [
        [
          {
            "node": "Prepare Voice Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Voice Session": {
      "main": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smilecare Dental Assistant": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Read Appointments": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Appointment": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Appointment": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Update": {
      "ai_tool": [
        [
          {
            "node": "Smilecare Dental Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a548ef29-0c1f-41ec-bf11-d486792677c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfaaafe119d5531856107fcd6b2e81ad2f8b68921e0911211cc3735581efe558"
  },
  "id": "X3RBEwyGhVgBRYFB",
  "tags": []
}